footer {
  width: 100%;
  height: 1px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.contact-drop {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: center;
  text-align: center;
  padding: 4%;
  padding-top: 0;
  background-color: #f3f3f3;
  color: #303030;
  position: absolute;
  bottom: -240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 2px rgb(182, 182, 182);
  transition: all 500ms ease-in-out;
  z-index: 0;
  box-shadow: 0 0 5px 2px rgba( 0, 0, 0, 0.6);
}

.contact-drop--header{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  border-bottom: solid 2px rgba(200, 200, 200, 0.6);
}
.contact-drop--header span {
  position: absolute;
  top: 10px;
  right: 5px;
  transform: rotate(-90deg);
  transition: all 500ms ease-in-out;
}

.pop {
  bottom: -5px;
}

.pop span {
  transform: rotate(90deg);
}

.contact-drop h3 {
  margin: 1rem 0;
}
.contact-drop p {
  font-size: 14px;
  margin: 1rem 0;
}

.contact-drop--icons {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact-drop--icons a {
  display: flex;
  width: 5rem;
  height: 3rem;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  background-color: #bababa;
  border-radius: 5px;
}

.contact-drop--icons img {
  width: 3rem;
  height: 3rem;
}

.contact-drop .horario {
  padding: 0;
  margin: 0.5rem 0 0;
}

.contact-drop .horario p {  
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: rgba( 0, 0, 0, 0.6);
}

@media screen and (min-width: 767px) {
  .contact-drop {
    bottom: -270px;
    padding-top: 0;
  }

  .pop {
    bottom: -15px;
  }
  
  .pop span {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1023px) {
  .contact-drop {
    max-width: 320px;
    padding: 10px;
    bottom: -220px;
    padding-top: 0;
  }

  .pop {
    bottom: -10px;
  }
  
  .pop span {
    transform: rotate(90deg);
  }
}