:root {
  --brand-color: #240E40;
  --main-color: #8B94A3;
  --bg-color-white: #f3f3f3;
  --bg-color-black: #232323;
  --shadow: 0px 0px 15px 4px #4a4a4a;
  --ligth: 0px 0px 6px 2px #c2c2c2;
  font-size: 62.5%;

}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.8rem;
}

.inactive {
display: none;
}

nav ul, a{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 0;
}

body a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* desktop header --- */
header, nav {
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
}

.burguer-menu {
  display: none;
}

.logo_header {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 5rem;
}

.logo_header:hover {
  box-shadow: var(--shadow);
}

.desktop-menu {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.desktop-menu ul {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Header buttons ---- */

.desktop-menu li {
  display: flex;
  height: 6rem;
  padding: 0 2rem;
  margin: 0 1rem;
  align-items: center;
  transition: all 0.2ms ease-in;
}

.desktop-menu li:hover {
  border-radius: 0.5rem;
  background-color: var(--brand-color);
  cursor: pointer;
  box-shadow: var(--ligth);
}


.desktop-menu li a {
  text-decoration: none;
  color: var(--bg-color-white);
  font-weight: 400;
  font-size: 1.6rem;
}
/* ----- Header buttons  */

/* --- Desktop header */

.drop-menu-desk {
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 0.5rem;
  background-color: var(--bg-color-white);
  box-shadow: var(--shadow);
  top: 8rem;
  left: 20%;
}

.drop-menu-desk a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #232323;
}

.mobile-menu {
  display: none;
}

/* hero ---------- */

.hero-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30vw;
  padding-left: 12%;
  align-content: center;
  justify-content: left;
  background-image: url('./assets/image_hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0rem -40rem 16rem -20rem #232323;
}

.hero-image div {
  /* display: flex; */
  width: 60%;
  color: var(--bg-color-white);
  font-size: 3vw;
  font-weight: 100;
}

/* presentation --- */

.presentation {
  display: flex;
  width: 100%;
  height: 33vw;
  background-color: var(--bg-color-white);
  justify-content: center;
  align-items: center;
}

.presentation-image {
  display: flex;
  width: 40%;
  justify-content: right;
}

.presentation-image img {
  width: 90%;
  height: auto;
  padding: 1rem;
}

.presentation :nth-child(2) {
  width: 60%;
  height: auto;
  padding: 1rem;
  padding-right: 5rem;
}

/* ------- presentation  */

footer {
  background-color: var(--bg-color-black);
  justify-content: center;
  color: var(--bg-color-white);
}

.contact_icons_container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-center;
  align-items: center;
}

.contact_icons_container ul{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.contact_icon {
  position: relative;
  display: flex;
  width: 9rem;
  height: 9rem;
  background-color: var(--main-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.contact_icon:hover{
  /* background-color: var(--bg-color-white); */
  box-shadow: var(--ligth);
  border: solid 2px var(--bg-color-white);
}

.icon_footer {
  margin: 5% 5%;
}



.icon_footer img {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
}

.icon_footer p{
  color: var(--main-color);
  position: absolute;
  bottom: -3rem;
  font-size: 1.4rem;
}

.info_footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin: 2rem 0;
  color: var(--main-color);
}

.info_footer span, .info_footer a {
  color: var(--main-color);
  padding: 0 2%;
} 

.info_footer a:hover {
  color: var(--bg-color-white);
}

.creditos {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--main-color);
  justify-content: center;
}

.creditos , .creditos a {
  color: var(--main-color);
}


@media screen and (max-width: 426px) { 
/* header --- */
.desktop-menu {
  display: none;
}

nav {
  justify-content: space-between;
  padding: 0 2.5rem;
}

.burguer-menu {
display: flex;
width: 4rem;
height: 4rem;
border-radius: 5px;
justify-content: center;
align-items: center;
background-color: var(--main-color);
}

.burguer-menu:hover {
  /* background-color: var(--bg-color-white); */
  border: solid 1px white;
  box-shadow: var(--ligth);
}

.burguer-menu img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
/* --- header */
/* hero --- */

/* --- hero */
  /* footer --- */
  .info_footer {
    font-size: 8px;
    font-weight: 100;
  }

  .info_footer a {
    margin-top: 1rem;
  }
  /* --- footer */
}