.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
  justify-content: center;
}

.card {
  width: 320px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.card-header, .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header span {
  font-size: 14px;
}

.status {
  margin-bottom: 2px;
}

.status span {
  font-size: 1.4rem;
}

.card img {
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0;
  padding: 0;
}

.card-content p {
  margin: 5px 0;
}

.card-content .price {
  color: #1000ca;
  font-weight: bold;
}

.card-content .address {
  font-size: 0.8em;
  padding-bottom: 2px;
  color: #777;
}

.card-content .details {
  font-size: 0.8em;
  color: #666;
}

.card-content .description {
  margin: 10px 0;
  font-size: 1.4rem;
}

.card-content .tags {
  list-style-type: none;
  padding: 0;
}

.details {
  display: flex;
  flex-wrap: wrap;
  list-style: inherit;
  justify-content: center;
  list-style: none;
}

.details li {
  font-size: 14px;
  margin: 2px 5px;
}

.tags li::before,
.details li::before {
  content: '•';
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content .tags li {
  display: flex;
  width: 45%;
  /* background-color: #c9c9c9; */
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 0.8em;
  border-radius: 2px;
  margin-bottom: 0.2rem;
}

.card-content a {
  display: flex;
  width: fit-content;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  padding: 2%;
  background-color: var(--brand-color);
  border-radius: 5px;
}

.card-content a:hover {
  color: rgb(255, 140, 0);
  text-decoration: underline;
  background-color: #ccc;
}

