/* carousel --- */
.carousel-container, .carousel {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  /* max-height: 220px; */
  /* overflow: hidden; */
}

.carousel {
  width: 100%;
  padding: 10px 40px;
}

.carousel-inner {
  width: 60%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

.carousel-item {
  height: 100%;
}
/* --- carousel */

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 310px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  margin: 10px;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 10px;
}

.card-content h2, .card-content h3 {
  margin: 0;
  padding: 0;
}

.card-content .price {
  color: #f00;
  font-weight: bold;
}

.card-content .address {
  font-size: 0.9em;
  color: #666;
}

.card-content .details {
  font-size: 0.8em;
  color: #999;
}

.card-content .description {
  margin-top: 10px;
}

.card-content .tags {
  list-style-type: none;
  padding: 0;
}

.card-content .tags li {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 0.8em;
}
