header {
  position: sticky;
  z-index: 2;
}

main {
  padding: 1rem;
  z-index: 1;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px) {

  header {
    position: sticky;
  }

  main {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    margin: auto 0;
    align-items: center;
    grid-template-areas: "aside main";
    grid-template-columns: 32% 68%;
  }

  .main-container main {
    grid-area: main;
    padding:  5%;
    padding-bottom: 40px;
  }

  .main-container aside {
    align-items: center;
    grid-area: aside;
  }
}


